.todo-item:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.todo-background{
    margin-top: 170px;
    background-color: #e9ebf2;
    padding: 20px;
    border-radius:20px;
    box-shadow: 5px 5px;
}

body{
    background-color: #6e768f;
}